@charset "UTF-8";

body{
	font-family: proxima-nova,sans-serif;
	font-weight: 400;
	font-style: normal;
}

nav{
	padding: 25px 15px;
}

nav ul{
	list-style-type: none;
	padding: 0;
}

nav ul li{
	vertical-align: middle;
	float: left;
}

nav a{
	text-decoration: none;
	color: #62697A;
	font-size: 18px;
	margin: 10px;
	font-weight: 200;
}

nav a:hover{
	color: #FF7F50;
}

nav .active{
	color: #FF7F50;
	font-weight: 900;
}

nav .nav-right{
	float: right;
}

nav .logo{
	position: absolute;
    width: 100%;
}

nav .logo img{
	width: 100px;
	height: 100%;
}

.centerBlock{
	display: table;
	margin: auto;
}